In [124]:
import pandas as pd
import numpy as np
import ness
import datetime

In [12]:
pd.options.display.max_columns = 200
pd.options.display.max_rows = 200

In [2]:
dl = ness.dl(bucket="data.postpay.io", key="api", profile="default")

In [151]:
dl.sync()

delete: ../../../.ness/api/addresses.parquet/part-00000-c75e795d-3f33-4c70-aeb8-2b6b51a3f57f-c000.gz.parquet
delete: ../../../.ness/api/cart.parquet/part-00000-b76f6309-bb7a-4735-842c-6c9502431d28-c000.gz.parquet
delete: ../../../.ness/api/customers.parquet/part-00000-e9f8c504-895f-4933-8e59-bd67687580db-c000.gz.parquet
delete: ../../../.ness/api/instalment-plans.parquet/part-00000-6938d933-11ab-4771-8a2b-49882938f98f-c000.gz.parquet
delete: ../../../.ness/api/instalments.parquet/part-00000-bce36f5f-ab0b-4715-bea2-b025f3c284b2-c000.gz.parquet
delete: ../../../.ness/api/orders.parquet/part-00000-6af78df8-3af8-482d-b85f-1081da46c436-c000.gz.parquet
delete: ../../../.ness/api/refunds.parquet/part-00000-733503bc-1137-4754-8925-e14cdc599580-c000.gz.parquet
delete: ../../../.ness/api/transactions.parquet/part-00000-e7902caa-a7e0-4f62-afab-d20254a27ff4-c000.gz.parquet
download: s3://data.postpay.io/api/refunds.parquet/part-00000-5f5905b4-48eb-4061-8310-df0a82344098-c000.gz.parquet to ../../../.ness/api/refunds.parquet/part-00000-5f5905b4-48eb-4061-8310-df0a82344098-c000.gz.parquet
download: s3://data.postpay.io/api/customers.parquet/part-00000-98d8f9f5-0687-47ee-bab4-95559d073577-c000.gz.parquet to ../../../.ness/api/customers.parquet/part-00000-98d8f9f5-0687-47ee-bab4-95559d073577-c000.gz.parquet
download: s3://data.postpay.io/api/instalments.parquet/part-00000-c7406e06-d444-42e1-a366-4cb8b6fcfe8a-c000.gz.parquet to ../../../.ness/api/instalments.parquet/part-00000-c7406e06-d444-42e1-a366-4cb8b6fcfe8a-c000.gz.parquet
download: s3://data.postpay.io/api/transactions.parquet/part-00000-f4b53fbf-8e26-4c33-a864-90ccaf9fdb00-c000.gz.parquet to ../../../.ness/api/transactions.parquet/part-00000-f4b53fbf-8e26-4c33-a864-90ccaf9fdb00-c000.gz.parquet
download: s3://data.postpay.io/api/addresses.parquet/part-00000-4fec5c7d-5b36-4802-8e30-3c3f5c09c596-c000.gz.parquet to ../../../.ness/api/addresses.parquet/part-00000-4fec5c7d-5b36-4802-8e30-3c3f5c09c596-c000.gz.parquet
download: s3://data.postpay.io/api/instalment-plans.parquet/part-00000-b024b10a-eecc-4b0d-9697-ff7603db6bf6-c000.gz.parquet to ../../../.ness/api/instalment-plans.parquet/part-00000-b024b10a-eecc-4b0d-9697-ff7603db6bf6-c000.gz.parquet
download: s3://data.postpay.io/api/cart.parquet/part-00000-2521cd59-42de-4321-b47f-7eda8e6354f8-c000.gz.parquet to ../../../.ness/api/cart.parquet/part-00000-2521cd59-42de-4321-b47f-7eda8e6354f8-c000.gz.parquet
download: s3://data.postpay.io/api/orders.parquet/part-00000-7ee9a5d2-6a09-41f2-9959-244671b598b8-c000.gz.parquet to ../../../.ness/api/orders.parquet/part-00000-7ee9a5d2-6a09-41f2-9959-244671b598b8-c000.gz.parquet

In [152]:
cart_df = dl.read("cart")
orders_df = dl.read("orders")
customers_df = dl.read("customers")
addresses_df = dl.read("addresses")
instalment_plans_df = dl.read("instalment-plans")
instalments_df = dl.read("instalments")
transactions_df = dl.read("transactions")
refunds_df = dl.read("refunds")
transactions_df = dl.read("transactions")

In [153]:
cart_df.head()

,image_url,unit_price,item_id,merchant_id,url,description,name,reference,qty,order_id
0,,30.00,69090,273,,,Ribbed maxi dress,216513785,1,61809
1,,25.00,141424,280,,,Limited Edition Super Flora Fragrance Mists,36169857,1,93668
2,,19.00,136547,271,,,Marshmallow Fireside Single Wick Candle,257007434,1,91770
3,,179.00,123640,214,,,Nike Air Force 1 LV8 3 - Grade School Shoes,24095157,1,87298
4,,15.00,102634,271,,,Endless Weekend Fine Fragrance Mist,249717483,3,76697

In [154]:
cart_df.shape

(293470, 10)

In [155]:
instalment_plans_df.head()

,created,payment_method_fingerprint,downpayment_amount,billing_address_id,device_fingerprint,total_downpayment,checkout_completed,payment_method_brand,plan,payment_method_expires,shipping_address_id,total_amount,merchant_id,customer_id,currency,gateway_name,id_number,checkout_verified,cancelled,payment_method_country,shipping_amount,reference,merchant_name,completed,instalment_plan_id,payment_interval,customer_date_joined,status_changed,order_id,checkout_type,customer_email,status,num_instalments,shipping_id,customer_blacklisted,payment_method_type,date_of_birth,downpayment_refunded_amount,user_agent,phone,ip_address,transaction_cost_rate,transaction_cost_amount
0,2021-05-02 02:35:13.690649,a5ec3e6bec144d0eabfcf6ca454a8fe4,315.33,20790.0,073bf4f5cadf4f70851675931c6fd4e5,315.33,2021-05-02 02:34:15.699920,visa,funded,2025-10-31,20790.0,946.00,214,9338.0,AED,checkoutV2,784199853242727,2021-05-02 02:33:56.766680,NaT,AE,0.00,FLAEHDE0538711-608e0f7c295bf,Footlocker,2021-06-02 11:42:37.241234,14654,NaN,2021-05-02 02:16:32,2021-05-02 02:35:22.805498,28266,default,thekingak47@live.com,captured,3,15773.0,NaT,debit,1998-03-01,0.00,Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like...,971544747417,2001:8f8:1727:7c10:186c:7355:bb08:2989,0.022,0.5
1,2021-10-06 15:25:11.669257,29eaad3da35648f7867ecadc25240400,106.25,55313.0,0123a362129bc8aa86d44a0c091c18e5,106.25,2021-10-06 15:24:37.812070,mastercard,funded,2022-06-30,55313.0,318.75,209,28051.0,SAR,checkoutV3,1076147733,2021-10-06 15:22:39.111692,NaT,SA,0.00,011623188088801320128513,Ounass,NaT,39669,NaN,NaT,2021-10-06 15:25:19.692574,76934,seamless,shoshabdulaziz@gmail.com,captured,3,46032.0,NaT,debit,None,0.00,Mozilla/5.0 (iPhone; CPU iPhone OS 14_7_1 like...,966558080081,2001:16a2:c043:89e4:f9ca:1dd8:23a0:fc4b,0.013,0.5
2,2021-10-01 13:59:30.149380,e5446f3c3d80493486c016e631847f43,72.53,52897.0,2f417b2266ba16b1f39112c62559ac9a,72.53,2021-10-01 13:59:25.672952,mastercard,funded,2026-07-31,52897.0,217.60,270,26316.0,AED,checkoutV2,784198049595360,2021-10-01 13:55:53.211809,NaT,AE,0.00,AEAEHDE0568976-6157133d1ca89,American Eagle,NaT,37867,NaN,2021-10-01 11:57:48,2021-10-01 13:59:39.521883,73503,seamless,Keliru_sphinx@yahoo.com,captured,3,43801.0,NaT,debit,None,0.00,Mozilla/5.0 (Linux; Android 11; SM-N986B Build...,971501631098,2001:8f8:1363:a330:a58b:dd7b:a59b:1c39,0.022,0.5
3,2021-05-22 20:21:42.229345,fc3cd533ad944c96bd0aad2faf3cca4f,414.00,24507.0,0a9fee69c30fb15ac5718412ef2a813c,414.00,2021-05-22 20:21:42.212203,visa,funded,2022-12-31,24507.0,414.00,230,NaN,AED,checkoutV2,None,NaT,NaT,AE,0.00,3842496004261,Elivana,2021-05-22 20:21:43.634327,17800,NaN,2021-05-22 20:18:11,2021-05-22 20:21:43.637381,33973,default,deniselobo.17@gmail.com,captured,1,19099.0,NaT,debit,None,0.00,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,None,92.97.167.4,0.022,0.5
4,2021-07-01 07:35:38.289312,cfecd53243e94c81b15461947a0f1b89,111.67,30710.0,2d7fb18bc3eddff9df55cd961955177c,111.67,2021-07-01 07:34:36.891851,mastercard,funded,2024-05-31,30710.0,335.00,280,13871.0,AED,checkoutV2,784198764376921,2021-07-01 07:33:16.292938,NaT,AE,0.00,VSAEHDE1786492-60dd6facc9fc5,Victoria's Secret,2021-09-01 16:03:36.033232,22158,NaN,2018-11-30 10:28:01,2021-07-01 07:35:47.522226,41746,default,franciaprincesskarmela@yahoo.com.ph,captured,3,23986.0,NaT,credit,1987-08-15,0.00,Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like M...,971505948015,2001:8f8:172d:96f7:845f:317a:598f:e9f6,0.022,0.5

In [156]:
instalment_plans_df['status'].value_counts()

captured    48617
Name: status, dtype: int64

In [157]:
instalments_df['status'].value_counts()

paid         60462
due          32643
cancelled     4550
unpaid        1312
refunded       249
Name: status, dtype: int64

In [158]:
orders_df['status'].value_counts()

captured     48618
pending      41039
denied        6814
cancelled     1371
approved       515
Name: status, dtype: int64

In [159]:
instalments_df[instalments_df['status'] == 'unpaid'].head()

,order,refunded_amount,penalty_fee,amount,instalment_plan_id,scheduled,completed,status,total
175,0,0.00,55.00,118.67,36743,2021-10-28,NaT,unpaid,173.67
342,1,0.00,48.75,138.33,11902,2021-06-12,NaT,unpaid,187.08
343,0,0.00,55.00,138.33,11902,2021-05-12,NaT,unpaid,193.33
450,0,0.00,25.00,33.33,32846,2021-10-11,NaT,unpaid,58.33
451,1,0.00,0.00,33.33,32846,2021-11-11,NaT,unpaid,33.33

In [160]:
instalments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99216 entries, 0 to 99215
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order               99216 non-null  int32
 1   refunded_amount     99216 non-null  object
 2   penalty_fee         99216 non-null  object
 3   amount              99216 non-null  object
 4   instalment_plan_id  99216 non-null  int32
 5   scheduled           99216 non-null  object
 6   completed           60711 non-null  datetime64[ns]
 7   status              99216 non-null  object
 8   total               99216 non-null  object
dtypes: datetime64[ns](1), int32(2), object(6)
memory usage: 6.1+ MB

In [161]:
# Convert the anount columns to numeric
instalments_df[['penalty_fee', 'amount', 'total']] = instalments_df[['penalty_fee', 'amount', 'total']].apply(pd.to_numeric)

# Total unpaid per instalment_plan_id

In [171]:
# Create unpaid variables per instalment_plan_id
unpaid_per_instalment_plan_id = instalments_df[instalments_df['status'] == 'unpaid'].groupby('instalment_plan_id').sum()[['penalty_fee', 'amount', 'total']].reset_index().rename(columns={'penalty_fee':'total_penalty_fee', 'amount':'total_unpaid_amount', 'total':'total_unpaid_total'})

In [220]:
# Create unpaid variables per instalment_plan_id
amount_per_instalment_plan_id = instalments_df.groupby('instalment_plan_id').sum()[['penalty_fee', 'amount', 'total']].reset_index().rename(columns={'penalty_fee':'total_penalty_fee', 'amount':'total_unpaid_amount', 'total':'total_unpaid_total'})
amount_per_instalment_plan_id.head()

,instalment_plan_id,total_penalty_fee,total_unpaid_amount,total_unpaid_total
0,184,0.00,367.50,367.50
1,189,0.00,705.21,705.21
2,193,0.00,1125.00,1125.00
3,194,57.75,944.22,1001.97
4,195,0.00,1389.15,1389.15

In [219]:
unpaid_per_instalment_plan_id.head()

,instalment_plan_id,total_penalty_fee,total_unpaid_amount,total_unpaid_total
0,777,112.75,1417.02,1529.77
1,891,99.49,250.00,349.49
2,913,64.05,180.00,244.05
3,948,115.50,242.24,357.74
4,964,57.75,112.50,170.25

In [164]:
instalments_df.head()

,order,refunded_amount,penalty_fee,amount,instalment_plan_id,scheduled,completed,status,total
0,0,0.00,0.0,412.5,883,2020-08-22,2020-08-22 02:00:53.667369,paid,412.5
1,3,0.00,0.0,412.5,883,2020-09-12,2020-09-12 02:01:00.783531,paid,412.5
2,5,0.00,0.0,412.5,883,2020-09-26,2020-09-26 02:00:58.035787,paid,412.5
3,1,0.00,0.0,412.5,883,2020-08-29,2020-08-29 02:00:59.887770,paid,412.5
4,4,0.00,0.0,412.5,883,2020-09-19,2020-09-19 02:00:59.557313,paid,412.5

In [165]:
# Create days diff: dyas between scheduled and completed; days between scheduled and today
instalments_df['days_scheduled_completed'] = (pd.to_datetime(instalments_df['completed']) - pd.to_datetime(instalments_df['scheduled'])).dt.days
instalments_df['days_since_scheduled'] = (datetime.datetime.today() - pd.to_datetime(instalments_df['scheduled'])).dt.days

In [166]:
instalments_df.head()

,order,refunded_amount,penalty_fee,amount,instalment_plan_id,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled
0,0,0.00,0.0,412.5,883,2020-08-22,2020-08-22 02:00:53.667369,paid,412.5,0.0,450
1,3,0.00,0.0,412.5,883,2020-09-12,2020-09-12 02:01:00.783531,paid,412.5,0.0,429
2,5,0.00,0.0,412.5,883,2020-09-26,2020-09-26 02:00:58.035787,paid,412.5,0.0,415
3,1,0.00,0.0,412.5,883,2020-08-29,2020-08-29 02:00:59.887770,paid,412.5,0.0,443
4,4,0.00,0.0,412.5,883,2020-09-19,2020-09-19 02:00:59.557313,paid,412.5,0.0,422

In [167]:
instalments_df_max_inst_number = instalments_df.groupby('instalment_plan_id', as_index=True).max()[['order']].reset_index()

In [168]:
instalments_df_max_inst_number

       instalment_plan_id  order
0                     184      2
1                     189      2
2                     193      2
3                     194      2
4                     195      2
...                   ...    ...
40341               55510      1
40342               55511      1
40343               55512      1
40344               55513      1
40345               55514      1

[40346 rows x 2 columns]

In [169]:
last_inst_df = pd.merge(instalments_df_max_inst_number, instalments_df, how='left', on=['instalment_plan_id', 'order'])

In [170]:
last_inst_df

,instalment_plan_id,order,refunded_amount,penalty_fee,amount,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled
0,184,2,0.00,0.00,122.50,2020-06-07,2020-05-10 10:11:52.850072,paid,122.50,-28.0,526
1,189,2,0.00,0.00,235.07,2020-07-31,2020-07-31 02:00:35.167882,paid,235.07,0.0,472
2,193,2,0.00,0.00,375.00,2020-08-02,2020-06-29 20:03:00.223891,paid,375.00,-34.0,470
3,194,2,0.00,57.75,314.74,2020-08-04,2020-08-27 08:14:56.671049,paid,372.49,23.0,468
4,195,2,0.00,0.00,463.05,2020-08-05,2020-08-05 02:00:30.037895,paid,463.05,0.0,467
...,...,...,...,...,...,...,...,...,...,...,...
40341,55510,1,0.00,0.00,150.57,2022-01-14,NaT,due,150.57,NaN,-60
40342,55511,1,0.00,0.00,45.00,2022-01-14,NaT,due,45.00,NaN,-60
40343,55512,1,0.00,0.00,50.00,2022-01-14,NaT,due,50.00,NaN,-60
40344,55513,1,0.00,0.00,479.63,2022-01-14,NaT,due,479.63,NaN,-60
40345,55514,1,0.00,0.00,452.91,2022-01-14,NaT,due,452.91,NaN,-60

In [173]:
last_inst_df_with_unpaid = pd.merge(last_inst_df, unpaid_per_instalment_plan_id, how='left', on=['instalment_plan_id'])

In [174]:
last_inst_df_with_unpaid[last_inst_df_with_unpaid['status'] == 'unpaid']

,instalment_plan_id,order,refunded_amount,penalty_fee,amount,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled,total_penalty_fee,total_unpaid_amount,total_unpaid_total
307,777,2,0.00,55.00,708.51,2020-11-06,NaT,unpaid,763.51,NaN,374,112.75,1417.02,1529.77
372,891,2,0.00,41.74,125.00,2020-09-27,NaT,unpaid,166.74,NaN,414,99.49,250.00,349.49
380,913,2,0.00,6.30,90.00,2020-09-28,NaT,unpaid,96.30,NaN,413,64.05,180.00,244.05
397,948,2,0.00,57.75,121.12,2020-09-30,NaT,unpaid,178.87,NaN,411,115.50,242.24,357.74
407,964,2,0.00,0.00,56.25,2020-10-02,NaT,unpaid,56.25,NaN,409,57.75,112.50,170.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24085,36106,6,0.00,0.00,975.00,2021-11-14,NaT,unpaid,975.00,NaN,1,0.00,975.00,975.00
24119,36151,6,0.00,0.00,1130.00,2021-11-14,NaT,unpaid,1130.00,NaN,1,0.00,1130.00,1130.00
24628,36815,2,0.00,0.00,874.75,2021-11-09,NaT,unpaid,874.75,NaN,6,0.00,874.75,874.75
25075,37432,2,0.00,25.00,146.25,2021-11-11,NaT,unpaid,171.25,NaN,4,25.00,146.25,171.25
27051,39895,0,0.00,25.00,1115.10,2021-11-07,NaT,unpaid,1140.10,NaN,8,25.00,1115.10,1140.10

In [175]:
pd.cut(last_inst_df_with_unpaid['days_since_scheduled'],
                 [0, 5, 10, 20, 30, 60, 90, np.inf],
              #    labels=[0, 5, 10, 20, 30, 60, 90, np.inf]
          )

0        (90.0, inf]
1        (90.0, inf]
2        (90.0, inf]
3        (90.0, inf]
4        (90.0, inf]
            ...
40341            NaN
40342            NaN
40343            NaN
40344            NaN
40345            NaN
Name: days_since_scheduled, Length: 40346, dtype: category
Categories (7, interval[float64, right]): [(0.0, 5.0] < (5.0, 10.0] < (10.0, 20.0] < (20.0, 30.0] < (30.0, 60.0] < (60.0, 90.0] < (90.0, inf]]

In [176]:
pd.cut(last_inst_df_with_unpaid['days_scheduled_completed'],
                 [0, 5, 10, 20, 30, 60, 90, np.inf],
                 labels=[0, 5, 10, 20, 30, 60, 90]
          )

0        NaN
1        NaN
2        NaN
3         20
4        NaN
        ...
40341    NaN
40342    NaN
40343    NaN
40344    NaN
40345    NaN
Name: days_scheduled_completed, Length: 40346, dtype: category
Categories (7, int64): [0 < 5 < 10 < 20 < 30 < 60 < 90]

In [177]:
# days_scheduled_completed_cat = np.where(last_inst_df_with_unpaid['days_scheduled_completed'] <= 0, 0,
#     np.where((last_inst_df_with_unpaid['days_scheduled_completed'] > 0) & (last_inst_df_with_unpaid['days_scheduled_completed'] <= 5), 5,
#         np.where((last_inst_df_with_unpaid['days_scheduled_completed'] > 5) & (last_inst_df_with_unpaid['days_scheduled_completed'] <= 10), 10,
#             np.where((last_inst_df_with_unpaid['days_scheduled_completed'] > 10) & (last_inst_df_with_unpaid['days_scheduled_completed'] <= 20), 20,
#                 np.where((last_inst_df_with_unpaid['days_scheduled_completed'] > 20) & (last_inst_df_with_unpaid['days_scheduled_completed'] <= 30), 30,
#                     np.where((last_inst_df_with_unpaid['days_scheduled_completed'] > 30) & (last_inst_df_with_unpaid['days_scheduled_completed'] <= 60), 60,
#                         np.where((last_inst_df_with_unpaid['days_scheduled_completed'] > 60) & (last_inst_df_with_unpaid['days_scheduled_completed'] <= 90), 90,
#                             last_inst_df_with_unpaid['days_scheduled_completed']
#                         )
#                     )
#                 )
#             )
#         )
#     )
# )
# last_inst_df_with_unpaid['days_scheduled_completed_cat'] = days_scheduled_completed_cat

In [180]:
last_inst_df_with_unpaid.head()

,instalment_plan_id,order,refunded_amount,penalty_fee,amount,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled,total_penalty_fee,total_unpaid_amount,total_unpaid_total,days_scheduled_completed_cat
0,184,2,0.00,0.00,122.50,2020-06-07,2020-05-10 10:11:52.850072,paid,122.50,-28.0,526,NaN,NaN,NaN,0.0
1,189,2,0.00,0.00,235.07,2020-07-31,2020-07-31 02:00:35.167882,paid,235.07,0.0,472,NaN,NaN,NaN,0.0
2,193,2,0.00,0.00,375.00,2020-08-02,2020-06-29 20:03:00.223891,paid,375.00,-34.0,470,NaN,NaN,NaN,0.0
3,194,2,0.00,57.75,314.74,2020-08-04,2020-08-27 08:14:56.671049,paid,372.49,23.0,468,NaN,NaN,NaN,30.0
4,195,2,0.00,0.00,463.05,2020-08-05,2020-08-05 02:00:30.037895,paid,463.05,0.0,467,NaN,NaN,NaN,0.0

In [181]:
instalments_df[instalments_df['instalment_plan_id'] == 194]

,order,refunded_amount,penalty_fee,amount,instalment_plan_id,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled
52359,0,0.00,0.00,314.74,194,2020-06-04,2020-06-04 02:00:45.132116,paid,314.74,0.0,529
52360,2,0.00,57.75,314.74,194,2020-08-04,2020-08-27 08:14:56.671049,paid,372.49,23.0,468
52361,1,0.00,0.00,314.74,194,2020-07-04,2020-07-04 02:00:09.905535,paid,314.74,0.0,499

In [210]:
last_inst_df_with_unpaid['unpaid_at_due'] = np.nan
last_inst_df_with_unpaid['unpaid_at_5'] = np.nan
last_inst_df_with_unpaid['unpaid_at_10'] = np.nan
last_inst_df_with_unpaid['unpaid_at_20'] = np.nan
last_inst_df_with_unpaid['unpaid_at_30'] = np.nan
last_inst_df_with_unpaid['unpaid_at_60'] = np.nan
last_inst_df_with_unpaid['unpaid_at_90'] = np.nan

In [211]:
for i in range(0, len(last_inst_df_with_unpaid)):
    if last_inst_df_with_unpaid['status'][i] == 'paid':
        if (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 0):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_5'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_10'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 0) & (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 5):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_10'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 5) & (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 10):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 10) & (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 20):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 20) & (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 30):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 30) & (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 60):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 60) & (last_inst_df_with_unpaid['days_scheduled_completed'][i] <= 90):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_60'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
        elif (last_inst_df_with_unpaid['days_scheduled_completed'][i] > 90):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_60'][i] = last_inst_df_with_unpaid['amount'][i]
            last_inst_df_with_unpaid['unpaid_at_90'][i] = last_inst_df_with_unpaid['amount'][i]

    elif last_inst_df_with_unpaid['status'][i] == 'unpaid':
        if (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 0) & (last_inst_df_with_unpaid['days_since_scheduled'][i] < 5):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_10'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_20'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_30'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_60'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_90'][i] = np.nan
        elif (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 5) & (last_inst_df_with_unpaid['days_since_scheduled'][i] < 10):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_20'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_30'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_60'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_90'][i] = np.nan
        elif (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 10) & (last_inst_df_with_unpaid['days_since_scheduled'][i] < 20):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_30'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_60'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_90'][i] = np.nan
        elif (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 20) & (last_inst_df_with_unpaid['days_since_scheduled'][i] < 30):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_60'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_90'][i] = np.nan
        elif (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 30) & (last_inst_df_with_unpaid['days_since_scheduled'][i] < 60):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_60'][i] = np.nan
            last_inst_df_with_unpaid['unpaid_at_90'][i] = np.nan
        elif (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 60) & (last_inst_df_with_unpaid['days_since_scheduled'][i] < 90):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_60'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_90'][i] = np.nan
        elif (last_inst_df_with_unpaid['days_since_scheduled'][i] >= 90):
            last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_60'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]
            last_inst_df_with_unpaid['unpaid_at_90'][i] = last_inst_df_with_unpaid['total_unpaid_amount'][i]

/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_20'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_30'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_60'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_90'][i] = 0
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_due'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_5'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_inst_df_with_unpaid['unpaid_at_10'][i] = last_inst_df_with_unpaid['amount'][i]
/var/folders/5b/q1b1f10s6p39_ns07cll2dxh0000gn/T/ipykernel_4511/3398692058.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [212]:
last_inst_df_with_unpaid[last_inst_df_with_unpaid['status'] == 'unpaid']

,instalment_plan_id,order,refunded_amount,penalty_fee,amount,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled,total_penalty_fee,total_unpaid_amount,total_unpaid_total,days_scheduled_completed_cat,unpaid_at_due,unpaid_at_5,unpaid_at_10,unpaid_at_20,unpaid_at_30,unpaid_at_60,unpaid_at_90
307,777,2,0.00,55.00,708.51,2020-11-06,NaT,unpaid,763.51,NaN,374,112.75,1417.02,1529.77,NaN,1417.02,1417.02,1417.02,1417.02,1417.02,1417.02,1417.02
372,891,2,0.00,41.74,125.00,2020-09-27,NaT,unpaid,166.74,NaN,414,99.49,250.00,349.49,NaN,250.00,250.00,250.00,250.00,250.00,250.00,250.00
380,913,2,0.00,6.30,90.00,2020-09-28,NaT,unpaid,96.30,NaN,413,64.05,180.00,244.05,NaN,180.00,180.00,180.00,180.00,180.00,180.00,180.00
397,948,2,0.00,57.75,121.12,2020-09-30,NaT,unpaid,178.87,NaN,411,115.50,242.24,357.74,NaN,242.24,242.24,242.24,242.24,242.24,242.24,242.24
407,964,2,0.00,0.00,56.25,2020-10-02,NaT,unpaid,56.25,NaN,409,57.75,112.50,170.25,NaN,112.50,112.50,112.50,112.50,112.50,112.50,112.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24085,36106,6,0.00,0.00,975.00,2021-11-14,NaT,unpaid,975.00,NaN,1,0.00,975.00,975.00,NaN,975.00,NaN,NaN,NaN,NaN,NaN,NaN
24119,36151,6,0.00,0.00,1130.00,2021-11-14,NaT,unpaid,1130.00,NaN,1,0.00,1130.00,1130.00,NaN,1130.00,NaN,NaN,NaN,NaN,NaN,NaN
24628,36815,2,0.00,0.00,874.75,2021-11-09,NaT,unpaid,874.75,NaN,6,0.00,874.75,874.75,NaN,874.75,874.75,NaN,NaN,NaN,NaN,NaN
25075,37432,2,0.00,25.00,146.25,2021-11-11,NaT,unpaid,171.25,NaN,4,25.00,146.25,171.25,NaN,146.25,NaN,NaN,NaN,NaN,NaN,NaN
27051,39895,0,0.00,25.00,1115.10,2021-11-07,NaT,unpaid,1140.10,NaN,8,25.00,1115.10,1140.10,NaN,1115.10,1115.10,NaN,NaN,NaN,NaN,NaN

In [200]:
instalments_df[instalments_df['instalment_plan_id'] == 194]

,order,refunded_amount,penalty_fee,amount,instalment_plan_id,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled
52359,0,0.00,0.00,314.74,194,2020-06-04,2020-06-04 02:00:45.132116,paid,314.74,0.0,529
52360,2,0.00,57.75,314.74,194,2020-08-04,2020-08-27 08:14:56.671049,paid,372.49,23.0,468
52361,1,0.00,0.00,314.74,194,2020-07-04,2020-07-04 02:00:09.905535,paid,314.74,0.0,499

In [213]:
unpaid_per_instalment_plan_id[unpaid_per_instalment_plan_id['instalment_plan_id'] == 194]

Empty DataFrame
Columns: [instalment_plan_id, total_penalty_fee, total_unpaid_amount, total_unpaid_total]
Index: []

In [215]:
last_inst_df_with_unpaid[last_inst_df_with_unpaid['instalment_plan_id'] == 194]

,instalment_plan_id,order,refunded_amount,penalty_fee,amount,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled,total_penalty_fee,total_unpaid_amount,total_unpaid_total,days_scheduled_completed_cat,unpaid_at_due,unpaid_at_5,unpaid_at_10,unpaid_at_20,unpaid_at_30,unpaid_at_60,unpaid_at_90
3,194,2,0.00,57.75,314.74,2020-08-04,2020-08-27 08:14:56.671049,paid,372.49,23.0,468,NaN,NaN,NaN,30.0,314.74,314.74,314.74,314.74,0.0,0.0,0.0

In [216]:
last_inst_df_with_unpaid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40346 entries, 0 to 40345
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   instalment_plan_id            40346 non-null  int64
 1   order                         40346 non-null  int32
 2   refunded_amount               40346 non-null  object
 3   penalty_fee                   40346 non-null  float64
 4   amount                        40346 non-null  float64
 5   scheduled                     40346 non-null  object
 6   completed                     20606 non-null  datetime64[ns]
 7   status                        40346 non-null  object
 8   total                         40346 non-null  float64
 9   days_scheduled_completed      20606 non-null  float64
 10  days_since_scheduled          40346 non-null  int64
 11  total_penalty_fee             928 non-null    float64
 12  total_unpaid_amount           928 non-null    float64
 13  total_unpaid_total            928 non-null    float64
 14  days_scheduled_completed_cat  20606 non-null  float64
 15  unpaid_at_due                 21109 non-null  float64
 16  unpaid_at_5                   21051 non-null  float64
 17  unpaid_at_10                  21007 non-null  float64
 18  unpaid_at_20                  20955 non-null  float64
 19  unpaid_at_30                  20919 non-null  float64
 20  unpaid_at_60                  20834 non-null  float64
 21  unpaid_at_90                  20755 non-null  float64
dtypes: datetime64[ns](1), float64(15), int32(1), int64(2), object(3)
memory usage: 7.9+ MB

In [218]:
last_inst_df_with_unpaid[pd.notnull(last_inst_df_with_unpaid['unpaid_at_60'])]

,instalment_plan_id,order,refunded_amount,penalty_fee,amount,scheduled,completed,status,total,days_scheduled_completed,days_since_scheduled,total_penalty_fee,total_unpaid_amount,total_unpaid_total,days_scheduled_completed_cat,unpaid_at_due,unpaid_at_5,unpaid_at_10,unpaid_at_20,unpaid_at_30,unpaid_at_60,unpaid_at_90
0,184,2,0.00,0.00,122.50,2020-06-07,2020-05-10 10:11:52.850072,paid,122.50,-28.0,526,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
1,189,2,0.00,0.00,235.07,2020-07-31,2020-07-31 02:00:35.167882,paid,235.07,0.0,472,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
2,193,2,0.00,0.00,375.00,2020-08-02,2020-06-29 20:03:00.223891,paid,375.00,-34.0,470,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
3,194,2,0.00,57.75,314.74,2020-08-04,2020-08-27 08:14:56.671049,paid,372.49,23.0,468,NaN,NaN,NaN,30.0,314.74,314.74,314.74,314.74,0.0,0.0,0.0
4,195,2,0.00,0.00,463.05,2020-08-05,2020-08-05 02:00:30.037895,paid,463.05,0.0,467,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38358,53298,1,0.00,0.00,39.90,2022-01-11,2021-11-14 19:27:50.348912,paid,39.90,-58.0,-57,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
38378,53320,1,0.00,0.00,97.67,2022-01-11,2021-11-14 08:14:09.343832,paid,97.67,-58.0,-57,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
38656,53620,1,0.00,0.00,63.33,2022-01-11,2021-11-11 17:50:56.686006,paid,63.33,-61.0,-57,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
38857,53828,1,0.00,0.00,30.42,2022-01-11,2021-11-14 18:33:46.716302,paid,30.42,-58.0,-57,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0
39590,54659,1,0.00,0.00,85.00,2022-01-13,2021-11-14 00:06:24.432880,paid,85.00,-60.0,-59,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0